body {
    background-color: #94C8F8;
    font-family: "Verdana", "Courier New", Courier, monospace;
    font-size: 10px;
    margin: 0;
    padding: 0;
    line-height: 14px;
    color: white;
}

strong {
    font-weight: bold;
}

#drawarea {
    background: url('map.png') no-repeat;
    background-size: 100%;
    margin: 0;
    padding: 0;
    width: 768px;
    height: 768px;
}

#showsettings {
    display: none;
    position: absolute;
    top: 0;
    display: none;
    width: 150px;
    padding: 2px;
}

#infotip {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    font-size: 14px;
}

#areatip {
    display: none;
    position: fixed;
    left: 0;
    bottom: 0;
    font-size: 16px;
}

#timetip {
    display: none;
    position: fixed;
    bottom: 0;
    text-align: right;
}

#tooltip {
    display: none;
    position: absolute;
}

.nice {
    padding: 2px;
    border: 1px solid #000000;
    background-color:rgba(0, 0, 0, 0.65);
    white-space: nowrap;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 2px 2px 2px #000000;
	box-shadow: 2px 2px 2px #000000;
}

#tooltip span.red {
    display: inline-block;
    font-weight: bold;
    color: red;
}

#chatbox {
    display: none;
    position: fixed;
    width: 350px;
    max-height: 300px;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    font-size: 12px;
    overflow-x: hidden;
    overflow-y: auto;
}

#chatbox span {
    display: inline-block;
}

#chatbox span.join {
    color: lightgreen;
}

#chatbox span.part {
    color: lightgray;
}

#chatbox span.spawn {
    color: lightgreen;
}

#chatbox span.skin {
    color: orange;
}

#chatbox span.reason {
    color: lightblue;
}

#chatbox span.kill {
    color: red;
}

#chatbox span.action {
    color: yellow;
}

#chatbox span.chat {
    color: white;
}

#chatbox span.teamchat {
    color: red;
}

#players {
    display: none;
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    padding: 2px;
    width: 214px;
	max-height: 300px;
    font-size: 12px;
	overflow: auto;
}

#players table {
	float: left;
    font-size: 10px;
    width: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    border-spacing: 2px;
    border-collapse: collapse;
    text-align: left;
}

#players td span {
    width: 126px;
    white-space: nowrap;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#players th {
    border-bottom: 1px solid #FFFFFF;
}

#players td.name, #players th.name {
    width: 130px;
    padding-left: 2px;
    padding-right: 2px;
}

#players th.id, #players td.id {
    width: 16px;
}

#players th.score, #players td.score {
    width: 32px;
}

#players th.ping, #players td.ping {
    width: 30px;
    border-right: 0;
}

#players th.id, #players th.score {
    text-align: center;
}

#players td.id, #players td.score, #players td.ping, #players th.ping {
    text-align: right;
}

/* Checkbox/radio button style */
input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label {
    color:#f2f2f2;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(checkradio.png) left top no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background:url(checkradio.png) -19px top no-repeat;
}

input[type="radio"] {
    display:none;
}

input[type="radio"] + label {
    color:#f2f2f2;
}

input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(checkradio.png) -38px top no-repeat;
    cursor:pointer;
}

input[type="radio"]:checked + label span {
    background:url(checkradio.png) -57px top no-repeat;
}